#cy {
  width: 100%;
  height: 500px;
  display: block;
  border: 1px solid black;
}

.text {
	margin-bottom: 40px;
}

table td.selected {
	background-color: #efefef;
}

.nav-sidebar .title {
	padding: 15px 10px;
	background-color: rgba(34, 34, 34, 0.81);
	color: white;
	font-weight: bold;
}

#numbers td.selected {
	background-color: crimson;
	color: white;
	font-weight: bold;
}

#controllers td.selected { 
	background-color: steelblue;
	color: white;
	font-weight: bold;
}

#numbers td.done {
	background-color: #efefef;
}